.template_url {
  position: relative;
  display: block;
  height: 338px;
  width: 338px;
  // background-image: url('../assets/logo.png');
  background-image: url('../assets/logo.png');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
