// Accessibility color function, takes a color input and outputs
// the proper contrast color base on the input.
// NOTE: color must not contain any opacity (RGBA) values
@function contrast($color) {
  $r: red($color);
  $g: green($color);
  $b: blue($color);
  $yiq: (($r * 299) + ($g * 587) + ($b * 114)) / 1000;
  @if ($yiq >= 150) {
    @return black;
  } @else {
    @return white;
  }
}

@function ye-color($key: 'primary') {
  @return map-get($kanye-colors, $key);
}

@function font-weight($key: 'regular') {
  @return map-get($font-weights, $key);
}

@function font-family($key: 'roboto') {
  @return map-get($font-families, $key);
}
