// Base type
$base-font-family: 'Roboto', 'Helvetica Neue', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol' !default;
$base-font-size: 1rem !default;
$heading-line-height: 1.25 !default;
$body-line-height: 1.65 !default;
$max-screen-size: 1440px !default;
$font-families: (
  roboto: 'Roboto',
  abril: 'Abril Fatface',
  mono: 'Roboto Mono',
) !default;
// Font weights
$font-weights: (
  regular: 400,
  medium: 500,
  bold: 700,
) !default;
// Breakpoints
$breakpoints: (
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1440px,
) !default;
// Colors
$kanye-colors: (
  primary-bg: #ecece2,
  secondary-bg: #f8f8f9,
  light-bg: #ffffff,
  dark: #3c393a,
  medium: #96918f,
  primary: #737a7c,
  secondary: #b1c4b4,
  tertiary: #c2c0ba,
  primary-accent: #ffb147,
  secondary-accent: #d6e8ae,
  brand: #ceccc5,
) !default;
// Border radius
$border-radius: 1.25rem !default;
// Type scale
// Using a modular type scale we define our font size in em units for responsive scaling
// by multiplying the scale ratio of: 1.2, with our base font size of 1em(browser default of 16px)
// https://www.modularscale.com/?1&em&1.2
$legal: 0.579rem; //(0.694 / 1.2) 9px
$overline: 0.694rem; //(0.833 / 1.2) 11px
$body--2: 0.833rem; //(1 / 1.2) 13px
$body--1: $base-font-size; // 16px
$subtitle: 1.2rem; //(1 * 1.2) 19px
$subtitle--2: 1.44rem; //(1.2 * 1.2) 23px
$title--3: 1.728rem; //(1.44 * 1.2) 27px
$title--2: 2.074rem; //(1.728 * 1.2) 33px
$title--1: 2.488rem; //(2.074 * 1.2) 39px
$large--title: 2.986rem; //(2.489 * 1.2) 47px
// Spacing scale
$spacing-unit: 1rem !default;
$spacing--2xs: 0.125 * $spacing-unit; // 2px;
$spacing--xs: 0.25 * $spacing-unit; // 4px
$spacing--sm: 0.5 * $spacing-unit; // 8px
$spacing--md: 0.75 * $spacing-unit; // 12px
$spacing--lg: 1.25 * $spacing-unit; // 20px
$spacing--xl: 2 * $spacing-unit; // 32px
$spacing--2xl: 3.25 * $spacing-unit; // 52px
$spacing--3xl: 5.25 * $spacing-unit; // 84px
$spacing--4xl: 8.5 * $spacing-unit; // 136px
